<main>
  <header>
    <h1>Wojciech Kryzel (nr. indeksu 432695)</h1>
    <h1>Aplikacje www z użyciem frameworka Angular</h1>
    <p>Projekt z wyszukiwarką marek samochodów i dynamiczną listą z podpowiedziami ( jako osobny moduł )</p>
  </header>

  <app-drop-search
    [resultTemplate]="resultTemplate"
    [elements]="list"
    [selected]="selected"
    (elementSelected)="setElement($event)"
  ></app-drop-search>

</main>

<!--
  Template do wyszukiwarki
-->
<ng-template #resultTemplate let-element="element">
  {{ element }}
</ng-template>
